*.code-workspace
*.csv
*.jl.*.cov
*.jl.cov
lcov.info
*.jl.mem
*.jld2
*.mp4
settings.json
coverage-lcov.info
*.mat
*.parquet
.CondaPkg/
/Manifest.toml
/docs/build/
Artifacts.toml
Manifest.toml
LocalPreferences.toml
data
docs/build/
docs/site/
!test/test_timeseries.tsv
!docs/Manifest.toml

# Node.js and npm
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*